body{ 
    background-color:#001428;
    margin: 0;
    padding:0; 
    background-repeat: no-repeat;
} 

    
.logo-verplaats{    
    text-align: center;
}
 
    
h1{ 
    color: white;
    font-family: 'Montserrat', sans-serif;    
    font-size: 4em;
    text-align: center;
    font-weight: 600 ;
}
