body{
    margin: 0;
    padding: 0;
    background-color:#001428;
    background-repeat: no-repeat;
} 



h1{ 
    color: white;
    font-family: 'Montserrat', sans-serif;    
    font-size: 3.5em;
    text-align: center;
    font-weight: 600 ;
}  

.container{ 
    display:flex; 
    flex-direction: column;
    align-items: center; 
    margin-bottom: 7em;
}   

.container-2 { 
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    gap:10px;
}

.auto-afbeelding{ 
 
border-radius: 10px;
height: 100%;
width: 100%;
max-width:700px;
max-height: 400px;  
margin-bottom: 25px;
 
}
 

.informatie-text {
    color: white;
    border:none;
    cursor:default; 
    font-family:'Montserrat', sans-serif;    
    max-width: 50%; 
    font-weight:400; 
} 

 
#auto-plaatje-dozen{
height: 550px; 
width: 550px; 
overflow: hidden; 
border-radius: 100%;
} 


.navigatie-link{
color:white;
font-weight:400;  
font-family:'Montserrat', sans-serif;    
cursor:pointer;  
border:none;
text-decoration: none;
}
