body{
    margin: 0;
    padding: 0;
    background-color:#001428;
    background-repeat: no-repeat;
} 



h1{ 
    color: white;
    font-family: 'Montserrat', sans-serif;    
    font-size: 3.5em;
    text-align: center;
    font-weight: 600 ;
} 